// colors
@base-color: black;
@title-color: black;

// positons
@body-margin: 30%;

h1 {
    color: @title-color;
    text-align: center;
}

body {
	margin-left: @body-margin;
	margin-right: @body-margin;
}
